<div class="entry">
  <h1>Doogle</h1>

  <form accept-charset="UTF-8" action="/entries" class="new_entry" id="new_entry" method="get">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="zrjOHG2iQdGeiHbB4QNa4xa3ldqkWGXYZsE3seDkrZM=">
    </div>
    <span class="error">
      <input autofocus="autofocus" id="entry_word" name="entry[word]" type="text">
    </span>

    <div>
      <input id="search" name="commit" type="submit" value="Doogle Search">
    </div>
  </form>
  <p>
    The time is now: <%= Time.now %>
  </p>
</div>

